<div class="ai">
    <div class="emotionsList">
        <span><i> Emotions I recognize:</i></span><br>
        HAPPY&nbsp; ANGRY&nbsp; SURPRISED&nbsp; SAD<br>
        NEUTRAL&nbsp; FEARFUL&nbsp;DISGUSTED
    </div>
    <video id="video" width="400" height="400" autoplay muted></video>
    <button class="finishBtn">FINISH</button>
</div>
