<div>
    <div class="info">
        <h4> Please read the following before launch! </h4>
        <h3> Currently works only in desktop Chrome as issues with getUserMedia in other browsers are not fixed</h3>
        <p> Make sure to allow an access to your<br>
            camera before you start an application. </p>
        <p> The application reads your face emotions <br>
            and speaks out predefined phrases according <br>
            to the emotion you express.</p>

        <p> Try to show the following emotions:</p>
        <ul>
            <li>happy</li>
            <li>angry</li>
            <li>surprised</li>
            <li>fearful</li>
            <li>neutral</li>
            <li>sad</li>
            <li>disgusted</li>
        </ul>
         <p> Have a great time :) </p>
    </div>
    <form name='launchForm' action='/ai'>

        <input
            class='input'
            name='input'
            type='text'
            minlength="3"
            placeholder='Your name here'
            required
        />
        <button class='launchBtn' type='submit'>launch me!</button>

    </form>
</div>

